<h1>Movies Trivial</h1>
<div>Maximun Score: <span id="score-max"><%= @game.max_score %></span> </div>

        <span id="answer1"><%= image_tag(@random_movies[0].poster, class: "image-size") %></span>
        <span id="answer2"><%= image_tag(@random_movies[1].poster, class: "image-size") %></span>
        <span id="answer3"><%= image_tag(@random_movies[2].poster, class: "image-size") %></span>
        <span id="answer4"><%= image_tag(@random_movies[3].poster, class: "image-size") %></span>
        <span id="answer5"><%= image_tag(@random_movies[4].poster, class: "image-size") %></span>

<div class="hidden_text">
        <span id="year1"><%= @random_movies[0].year %></span>
        <span id="year2"><%= @random_movies[1].year %></span>
        <span id="year3"><%= @random_movies[2].year %></span>
        <span id="year4"><%= @random_movies[3].year %></span>
        <span id="year5"><%= @random_movies[4].year %></span>
</div>

<div>Player Score: <span id="player-score"><%= @game.score %></span> </div>

    <div> What movie was filmed in <span id="year"><%= @question_movie.year %></span>? </div>

